<div style="text-align:center">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span> Welcome to {{ title }}!</span>
      <span class="spacer"></span>
      <span><a routerLink="/hierarchical" routerLinkActive="active">Hierarchical</a></span>
      <span class="spacer"></span>
      <span><a routerLink="/kmeans" routerLinkActive="active">KMeans</a></span>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

</div>


<div class="content">
  <router-outlet></router-outlet>
</div>



